<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.chreso.edots" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDOTS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ClientDOTCardPartBActivity"
            android:exported="false" />
        <activity
            android:name=".ClientDOTCardPartAActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterClientActivity"
            android:exported="false" />
        <activity
            android:name=".ClientTBLabsActivity"
            android:exported="false" />
        <activity
            android:name=".EDOTSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".ClientFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ClientStatusActivity"
            android:exported="false" />
        <activity
            android:name=".SearchClient"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DispensationVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ClientMain"
            android:exported="false" />
        <activity
            android:name=".DispensationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>